/* Collor Pallete */
/* box sizing para que os tamanhos considerem a div toda, incluindo os margins e paddings */
* {
  box-sizing: border-box;
}
html {
  background-image: linear-gradient(-45deg, #A6A19B 12%, #A7A39D 12%, #A7A39D 50%, #79726c 50%, #79726c 88%, #A6A19B 88%, #A6A19B);
  background-size: 100% 150%;
}
.calculator {
  position: relative;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
}
.calculator .board {
  width: 270px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f8f8;
  padding: 20px;
  text-align: right;
}
.calculator .board #expression {
  color: #ABA7A1;
  font-size: 9pt;
}
.calculator .board #acc {
  margin-top: 10px;
  color: #5D5A58;
  font-size: 38pt;
}
.calculator .numpad {
  padding: 20px;
  color: #f8f8f8;
  position: absolute;
  width: 100%;
  height: 325px;
  bottom: 65px;
  background: linear-gradient(155deg, rgba(50, 56, 80, 0.78), rgba(50, 56, 80, 0.96));
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.26);
}
.calculator .numpad .numpad-row .num {
  font-size: 20pt;
  width: 65px;
  height: 58px;
  display: table-cell;
  /* utilizando o table-cell o vertical align funciona também */
  text-align: center;
  vertical-align: middle;
  transition: 0.2s all ease-in;
  /* todas as alterações de CSS serão animadas no estilo ease-in */
}
.calculator .numpad .numpad-row .num:hover {
  background: rgba(50, 56, 80, 0.78);
  cursor: pointer;
  border-radius: 8px;
}
.calculator .equal {
  color: #f8f8f8;
  font-size: 36pt;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  width: 270px;
  height: 65px;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(155deg, #ff9e47, #ED683D);
  transition: 0.2s all ease-in;
}
.calculator .equal:hover {
  box-shadow: inset 0 -10px 20px #ff9e47;
  cursor: pointer;
}
