/* box sizing para que os tamanhos considerem a div toda, incluindo os margins e paddings */
* {
  box-sizing: border-box;
}

body {
  background-color: #8D8780;
}

.calculator {
  width: 300px;

  .board {
    width: 270px;
    height: 510px;
  }
}
